html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.label > div
{
    font-family: Helvetica, Arial;
    font-size:x-small;
    position: absolute;
    background: salmon;
    color: white;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}